@{
    ViewBag.Title = "Contact";
}
<h2> CONTATO </h2>


<address>
    Ailton Vicente<br />
    Ronan Gomes<br />
    Vinicius Rosa<br />
    <abbr title="Phone">Telefone :</abbr>
    xxxxx-xxx
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">teste@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">teste@example.com</a>
</address>